.second_section{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.sessioncards{
    width: 100%;
    height: 320px;
    min-height: 300px;
    display: flex;
    flex-direction: column;    
    justify-content: start;
}
.sessioncards:nth-child(1){
    background: #A3DAC2;
}
.sessioncards:nth-child(2){
    background: #F0DA69;
}
.sessioncards:nth-child(3){
    background: #E7C2D4;
}
.sessioncards:nth-child(4){
    background: #92BDF6;
}
.service_title{
    font-size: 14px;
    margin-bottom: 12px;
}
.service_description{
    font-size: 12px;
}
.content_Card {
    margin: 5%;
}

@media (max-width:475px) {
    .content_Card{
        margin: 1%;
    }
    .service_description{
        font-size: 10px;
    }
    .service_title{
        font-size: 12px;
        margin-bottom: 6px;
    }
}