.whatare{
    width: 100%;
    margin: 40px 10px;
    background: #fff;
}
@media (max-width:768px) {
    .whatare{
        width: 90%;
        padding-left: 20px;
    }
    .whatarepara{
        font-size: 12px;
    }
}