.patient_section{
    width: 96%;
    margin: 10px auto 0;
}
.patienttalk_headin{
    font-size: 30px;
}

.video_box{
    width: 400px;
    height: 100%;
    min-height: 290px;
    min-width: 320px;
    border-radius: 20px;
}
.videos_boxex{
    height: 320px;
    min-height: 320px;
    padding-bottom: 20px;
    padding-right: 5px;
}
.videos_boxex::-webkit-scrollbar{
    display: none;
}
@media (max-width:475px) {
    .video_box {
        width: 345px;
        height: 100%;
        min-height: 280px;
        min-width: 320px;
        border-radius: 20px;
    }
}
.left_button{
    cursor: pointer;
}
/* Navigation Dots */
.dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dot.active {
    background-color: black;
}