.Luxgpt_section{
    width: 90%;
    height: 460px;
    min-height: 420px;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #984F9E;
    border-radius: 20px;
    box-shadow: 0 4px 10px #14142b0a;
}
.luxgpt_para{
    color: #fff;
    width: 80%;
}
.text_luxgot{
    font-size: 32px;
}
.second_box{
    height: 300px;
}
.luxgpt_para{
    font-size: 16px;
    line-height: 2em;
}
@media (max-width:768px) {
    .Luxgpt_section{
        width: 90%;
        height: 750px;
        min-height: 750px;
        flex-direction: column;
        padding: 20px;
    align-items: center;
    justify-content: space-between;
    }
    .luxgpt_para{
        width: 100%;
        font-size: 14px;
    }
    .text_luxgot{
        font-size: 22px;
    }
    .gpt_image{
        height: 90%;
    width: 90%;
    min-width: 300px;
    margin: auto;
    }
    .left_Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}