.Luxgpt_section{
    width: 90%;
    height: 460px;
    min-height: 420px;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: hsl(295, 33%, 46%);
    border-radius: 6px;
    box-shadow: 0 4px 10px #14142b0a;
}
.luxgpt_para{
    color: #fff;
    width: 80%;
}
.text_luxgot{
    font-size: 32px;
}
.second_box{
    height: 300px;
}
.luxgpt_para{
    font-size: 16px;
    line-height: 2em;
}
@media (max-width:768px) {
    .Luxgpt_section{
        width: 90%;
        height: fit-content;
        min-height: fit-content;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .luxgpt_para{
        width: 100%;
        font-size: 14px;
        text-align: left;
    }
    .text_luxgot{
        font-size: 22px;
        text-align: left;
    }
    .gpt_image{
        height: 100px;
        width: 100px;
        min-width: 100px;
        position: absolute;
       top: 10px;
       right: 10px;
        margin: auto;
    }
    .left_Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second_box{
        height: unset;
    }
}