.hero_section {
  width: 96%;
  margin: auto;
  background: linear-gradient(180deg, #984f9e 0%, #ab5fb1 100%);
  border-radius: 6px;
}
.hero_title {
  width: 100%;
  /* font-size: 4.5rem; */
  font-size: 68px;
  color: #fff;
  font-weight: 700;
  margin: 20px auto;
  text-align: center;
}
.hero_content {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: -25px 0px 0px;
}
.left_hero {
  width: 50%;
  position: relative;
}
.right_hero {
  width: 50%;
  padding: 20px;
}
.list_item_hero {
  font-size: 22px;
  color: #fff;
  list-style: circle;
}
.list_items_hero {
  display: flex;
  gap: 20px;
  margin: 5px 0;
  flex-direction: column;
}
.hero_image {
  width: 100%;
  position: relative !important;
  margin-top: -88px;
}
@media (max-width: 768px) {
  .hero_section {
    width: 95%;
  }
  .hero_title {
    /* font-size: 2.8rem; */
    font-size: 20px;
  }
  .hero_content {
    flex-direction: column;
    margin: 0px;
  }
  .right_hero {
    width: 100%;
    padding: 0 0 0 10px;
  }
  .hero_image {
    width: 100%;
    position: relative;
  }
  .left_hero {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .hero_title {
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .list_items_hero {
    padding: 0 20px 0 10px;
    gap: 10px;
  }
  .list_item_hero {
    font-size: 14px;
  }
  .hero_section {
    padding: 4px 0 0 0;
  }
  .hero_image {
    display: none;
  }
  .hero_section {
    border-radius: 6px;
  }
  .list_items_hero {
    margin: 5px 0;
  }
}
.hero-title,
.hero-text,
.hero_image {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.hero-text {
  animation-delay: 0.5s;
}
.hero-text {
  animation-delay: 1.5s;
}
.hero_image {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 475px) and (max-width: 768px) {
  .hero_image{
    display: none;
  }
  .hero-title{
    font-size: 24px;
    margin: 0 0 0 0;
    padding-top: 5px;
  }
  .list_items_hero {
    padding: 0 20px 0 20px;
    gap:10px;
  }
  .hero-text{
    font-size: 18px;
  }

}