.hero_section{
    width: 90%;
    margin: auto;
    background: linear-gradient(180deg, #984F9E 0%, #AB5FB1 100%);
    border-radius: 6px;
}
.hero_title{
    width: 100%;
    font-size: 4.5rem;
    color: #fff;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
}
.hero_content{
    display: flex;
    justify-content: center;  
    align-items: end;  
}
.left_hero{
    width: 50%;
    position: relative;
}
.right_hero{
    width: 50%;
    padding: 40px;
}
.list_item_hero{
    font-size: 18px;
    color: #fff;
    list-style: circle;
}
.list_items_hero{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-direction: column;
}
.hero_image{
 width: 100%;
 position: relative !important;
 margin-top: -88px;
}
@media (max-width: 768px) {
    .hero_section{
        width: 90%;
    }
    .hero_title{
        font-size: 2.8rem;
    }
    .hero_content{
        flex-direction: column;
    }
    .right_hero{
        width: 100%;
        padding: 0 0 0 10px;
    }
    .hero_image{
        width: 100%;
        position: relative;
    }
    .left_hero {
    width: 100%;
    }
}
@media (max-width:475px) {
    .hero_title {
        text-align: left;
        padding-left: 10px;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .list_items_hero{
        padding: 0 20px 0 20px;
        gap: 10px;
    }
    .list_item_hero{
        font-size: 14px;
    }
    .hero_section {
       padding: 24px 0 0 0;
    }
     .hero_image{
         display:none;
}
.hero_section{

    border-radius: 6px;
}
}
.hero-title, .hero-text, .hero_image {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  .hero-text {
    animation-delay: 0.5s;
  }
  .hero-text{
    animation-delay: 1.5s;
  }
  .hero_image{
    animation-delay: 1s;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  