
.videos_section {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 50px auto;
    min-height: 550px;
    overflow: hidden; 
  }
  

  @media (max-width: 768px) {
    .videos_section {
      height: 350px; 
      min-height: 350px; 
    }
    .video-overlay-content p{
        font-size: 12px;
      }
  }
  
  
  .bg-video {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%); 
    z-index: -1;
  }
  
  .video-overlay-content {
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.04); /* semi-transparent white */
border-radius: 20px;
backdrop-filter: blur(10px); 
  }
  .video-overlay-content p{
    font-size: 14px;
    color: #ffffff;
  }
  