@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  overflow: scroll;
}

body{
  background: #fff;
  transition: unset;
  overflow-x: hidden;
    width: 100%;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Parkinsans', sans-serif;
}
p, span{
  font-family: 'Parkinsans', sans-serif; 
}
ul, tbody, th, table{
  font-family: 'Parkinsans', sans-serif;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  animation-delay: 1s;
}
.opacity-0 {
  opacity: 0;
}
.fade-up{
 
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  

  .service_description, .service_title, .header_cta_type_one, .arrowimg .dimg{
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 1s ease-in-out forwards;
  }
  .service_description {
    animation-delay: 1s;
  }
  .service_title{
    animation-delay: 0.5s;
  }
 
  .arrowimg{
    animation-delay: 1s;
  }
  /* 
  .hero-text{
    animation-delay: 1.5s;
  }
  .hero_image{
    animation-delay: 1s;
  } */
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 
@media (max-width:476px) {
  .dbutton{
    font-size: 10px;
  }
 
.table_head {
  padding: 5px;
  font-size: 12px;
}

.fonts_title{
  font-size: 22px;
}
}
.extra_fonts{
  font-size: 10px;
}
.text_twentytwo{
  font-size: 22px;
}
.btm_buttton{
  border-radius: 16px 16px 0 0;
}

.left_doctor{
  /* width: 40%; */
  display: flex
  ;
      justify-content: center;
}
.right_content{
  width: 60%;
}
.extra_fonts{
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.right_align{
  text-align: left;
  padding: 5px;
}
@media (max-width:470px) {
  .extra_fonts {
    font-size: 12px;
}
  .hidden_class{
    display: none;
  }
  .dbutton {
    font-size: 7px;
}
  .left_doctor {
    width: 180px;
    display: unset;
    justify-content: unset;
    margin-right: 10px;
}
.doctor_card {
  
  width: 100%;
  height: 290px;
  padding: 0;
  margin: 0 10px 0 0;

}
.inner_doctor{
  overflow: hidden;
    padding: 0px;
}
.content_cars{
  padding: 10px;
}
.doctor_name{
  font-size: 14px;
}
.designation{
  font-size: 10px;
}
.dbutton {
  
  margin-top: 5px;
}
.reverse_doctor{
  margin-right: unset;
  margin-left: 10px;
}
}
@media (max-width:350px) {
  .left_doctor{
    width: 150px;
  }
  .doctor_name {
    font-size: 10px;
  }
  .designation {
    font-size: 10px;
  }
  .w-24 {
    width: calc(var(--spacing)* 18);
}
  
}
button, a{
  cursor: pointer;
}

/* doctos section stylings for latest doctoes card design */
.doctors_container{
  display: flex;
  gap: 10px;


}
.doctors_card_contanier{
  border: 1px solid;
  border-radius: 25px;
}
.right_content{
  padding: 10px;
}
@media (max-width:780px) {
  .doctors_container{
    display: flex;
    flex-direction: column;
  
  }
  
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .extra_fonts {
    font-size: 12px;
  }
}
@media (min-width: 310px) and (max-width: 360px) {
  .extra_fonts {
    font-size: 10px;
  }
  .designation{
    font-size: 9px;
  }
}
.inner_doctor{
  border-radius: 25px 0px 0px 0px;
}
.doctor_card{
  border-radius: 25px 0px 0px 25px;
}