.hospital_location_section{
    width: 90%;
    margin: auto;
}
.location_section{
    width: 100%;
}
.location_card{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 40px 0;
    border-radius: 20px;
    
}
.leftl-right{
    width: 50%;
    /* height: 370px; */
    /* min-height: 370px; */
    /* background: oklch(.885 .062 18.334); */
}
.leftl-lright{
    width: 50%;
    /* height: 400px; */
    /* min-height: 400px; */
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.review_count{
    margin-left: 10px;
}
@media (max-width:768px) {
    .location_card{
        width: 100%;
        /* height: 750px; */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        border-radius: 20px;
        
    } 
    .leftl-right{
        width: 100%;
        /* height: 270px; */
        /* min-height: 270px; */
        background: oklch(.885 .062 18.334);
    }
    .leftl-lright{
        width: 100%;
        /* height: 410px; */
        /* min-height: 410px; */
        display: flex;
    align-items: center;
    }
    .address_info{
        font-size: 14px;
    }
    .mobilectas{
        flex-direction: column;
        width: 100%;
    }
    @media (max-width: 350px){
        .location_card{
            /* height: 800px; */
        }
    }
}
@media (max-width:450px) {
    .leftl-lright{
        width: 100%;
        /* height: 440px; */
        
    }
}
@media (max-width:380px) {
    .leftl-right {
        /* height: 270px;
        min-height: 270px; */
    }
    .google_reviews{
        display: flex;
        flex-direction: column;
    }
    .review_count{
        margin-left: 0px;
    }
}
@media (max-width:350px) {
    .leftl-lright{
        /* height: 470px; */
    }
}
/* @media (min-width: 1024px) and (max-width: 1024px){
    .review_button{
        font-size: 12px;
    }
    .address_info{
        font-size: 12px;
    }
    .gmb_title{
        font-size: 14px;
    }
} */