.hospital_location_section{
    width: 90%;
    margin: auto;
}
.location_section{
    width: 100%;
}
.location_card{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 40px 0;
    border-radius: 20px;
    
}
.leftl-right{
    width: 50%;
    height: 400px;
    min-height: 400px;
    background: oklch(.885 .062 18.334);
}
.leftl-lright{
    width: 50%;
    height: 400px;
    min-height: 400px;
}
@media (max-width:768px) {
    .location_card{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;
        border-radius: 20px;
        
    } 
    .leftl-right{
        width: 100%;
        height: 400px;
        min-height: 400px;
        background: oklch(.885 .062 18.334);
    }
    .leftl-lright{
        width: 100%;
        height: 360px;
        min-height: 360px;
    }
    .address_info{
        font-size: 14px;
    }
}